*.asm
*.exe
*.ll
*.lib
*.dll
*.log
*.a
*.lai
*.la
*.pdb
*.exp
*.o

!bin/**/*
.vscode/c_cpp_properties.json
*.out
bin/win/calccf.exe
bin/win/bdwgc/**
compiler/calccf
bin/win/libuv/uv_a.lib
bin/win/libuv/uv.dll
bin/win/libuv/uv.lib
bin/win/libuv/uvutil.a
bin/win/github.com
*.vsix
ltmain.sh
